

$scifi-border-main-1: #0b3d61;
$scifi-border-dropshadow-1: #435174;

body {
  --border-h: 15%;
  --border-v: 15%;
  --cool-border-blue: #69e9ff;

  .block {


    &__leftmain {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: 30px;

      --scfborder-top-left: var(--border-v) var(--border-h);
      --scfborder-top-right: 20;
      --scfborder-bottom-right: 20;
      --scfborder-bottom-left: var(--border-v) var(--border-h);
      --scfborder-width: 3px;
      --scfborder-shadow-color: var(--cool-border-blue);
      --scfborder-border-color: var(--cool-border-blue);
      --scfborder-pattern-shift: 0px 50px;
      --scfborder-top-dent: 10px;
      --scfborder-top-dent-length: 33%;

      background-image: paint(scfborder);
    }

    &__rightmain {
      margin-left: 20px;
      width: 100%;
      height: 100%;
      padding: 30px;
      box-sizing: border-box;


      --scfborder-top-left: 20;
      --scfborder-top-right: var(--border-v) var(--border-h);
      --scfborder-bottom-right: var(--border-v) var(--border-h);
      --scfborder-bottom-left: 20;
      --scfborder-width: 3px;
      --scfborder-shadow-color: var(--cool-border-blue);
      --scfborder-border-color: var(--cool-border-blue);
      --scfborder-pattern-shift: 0 -50;
      --scfborder-top-dent: 10px;
      --scfborder-top-dent-length: 33%;

      background-image: paint(scfborder);
    }

  }
}
